<div id="notifications">
    <div style="display: none;" id="successBox" class="alert alert-success" role="alert">{{Success message}}
    </div>
    <div style="display: none;" id="loadingBox" class="alert alert-info" role="alert">Loading...</div>
    <div style="display: none;" id="errorBox" class="alert alert-danger" role="alert">{{Error message}}</div>
</div>