<section id="notifications">
    <div class="p-3 mb-2 bg-success w-50 text-white text-center" id="successNotification">Success</div>
    <div class="p-3 mb-2 bg-danger w-50 text-white text-center" id="errorNotification">Error</div>
    <div class="p-3 mb-2 bg-info w-50 text-white text-center" id="loadingNotification">Loading...</div>
</section>