{{> header}}
<div class="col-md-6 text-center col-lg">
    <img class="profile-img" src="./images/user.png" />
    <div class="profile-info">
        <p>Username: <small>{{username}}</small></p>
        <p class="infoType">Organizer of 2 events.</p>
        <p>LED ZEPPELIN Convert</p>
        <p>Techno Party</p>
        <p>No events</p>
    </div>
</div>
{{> footer}}